  <div class="card_container">
    <div class="card row">
        <div class="pic col-md-3">
            <img src="/images/elmo.jpg" />
        </div>
        <div class="product_name col-md-6">
            Elmo
        </div>
        <div class="product_actions col-md-3">
            <a href="#buy" class="btn">
                <span class="btn_secondary">Buy for</span>
                <span class="btn_primary">$10</span>
            </a>
        </div>
    </div>

    <div class="card row">
        <div class="pic col-md-3">
            <img src="/images/cookiemonster.jpg" />
        </div>
        <div class="product_name col-md-6">
            Cookie monster
        </div>
        <div class="product_actions col-md-3">
            <a href="#buy" class="btn">
                <span class="btn_secondary">Buy for</span>
                <span class="btn_primary">$12</span>
            </a>
        </div>
    </div>

    <div class="card row">
        <div class="pic col-md-3">
            <img src="/images/bert.jpg" />
        </div>
        <div class="product_name col-md-6">
            Bert
        </div>
        <div class="product_actions col-md-3">
            <a href="#buy" class="btn">
                <span class="btn_secondary">Buy for</span>
                <span class="btn_primary">$15</span>
            </a>
        </div>
    </div>

  </div>